$icon-font-path: '../fonts/';
$black:         #0D0D0A;

// bower:scss
// endbower

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.logo {
  width: 600px;
  max-width: 80vw;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}